@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-size: 14px;
}

.form-group{
    @apply flex flex-col gap-2;
    .form-label{
        @apply flex items-center gap-2 text-sm font-medium text-blue-700;
    }
    .form-label-error{
        @apply flex items-center gap-2 text-sm font-medium text-red-600;
    }
    .form-input{
        @apply bg-gray-50 outline-none border border-gray-300 ring-blue-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
    }
    .form-input-error{
        @apply bg-gray-50 outline-none border-2 border-red-400 ring-red-100 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5;
    }
    .form-input-icon{
        @apply bg-gray-50 outline-none border border-gray-300 ring-blue-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5;
    }
    .form-alert{
        @apply text-red-400 text-sm font-medium;
    }
}

.table-data{
    @apply w-full text-left text-gray-700;
    thead{
        @apply text-xs text-gray-700 bg-gray-200;
        tr{
            th{
                @apply px-6 py-3 text-left;
            }
        }
    }
    tbody{
        tr{
            @apply bg-white border-b hover:bg-gray-50;
            td{
                @apply px-6 py-3;
            }
        }
    }
}

.btn-custom{
    @apply text-white text-sm font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center gap-2 cursor-pointer;
    &.btn-primary{
        @apply bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300;
    }
    &.btn-danger{
        @apply bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300;
    }
    &.btn-success{
        @apply bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300;
    }
    &.btn-warning{
        @apply bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300;
    }
    &.btn-default{
        @apply bg-stone-400 hover:bg-stone-500 focus:ring-4 focus:outline-none focus:ring-stone-300;
    }
    &.btn-icon{
        @apply px-2.5 py-1.5
    }
}

